.modal-open .modal {
   overflow: hidden;
   @media screen and (max-width: 768px) {
    overflow: auto;
}
}
.modal-head {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    border-bottom: 3px solid whitesmoke;
    margin-bottom: 20px;
    &__icon {
        border-radius: 50%;
        box-shadow: 0 0 10px 10px whitesmoke;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
    }
    &__title {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
    }
    &__close {
        position: absolute;
        right: 5px;
        top: 10px;
        cursor: pointer;
        fill: #ababab;
    }
}

.modal-dialog {
    padding-right: 15px;  
    padding-left: 15px; 
}
.upload-modal {
    .modal-dialog {
        max-width: 621px;
    }
    .modal-content {
        padding: 15px;
        padding-top: 10px;
        width: 100%;
        min-height: 515px;
        border-radius: 8px;
    }
}

.products-modal {    
    .modal-dialog {
        max-width: 1050px;  
        height: 1105px;       
       
        box-shadow: 0 9px 35px rgba(0, 0, 0, 0.07);
        .modal-body {
            padding:  15px 25px 40px 35px;
            background-color: #f7f7f7;
            border-radius: 8px;     
        }
        @media screen and (max-width: 768px) {
            max-width: 380px;
            height: auto;
            .modal-body {
                padding-right: 15px;
            }
        }
    }
}