@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import '_base.scss';

body {
  background-color: #F7F7F7;
}

.selection-modal {
    .modal-dialog {
        max-width: 1350px;
    }
    .modal-body {
      padding: 0;
    }
  }